@import 'reset';
@import 'utils';
@import 'fonts';
@import 'header';

::-webkit-scrollbar {
  width: 4px;
  background-color: $main-black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $main-white;
  border-radius: 5px;
}

body {
  font-family: Poppins, sans-serif;
  background: $main-black;
  user-select: none;
  &.locked {
    overflow: hidden;
  }
}

.preview {
  background: url('./../images/photos/preview.jpg') center no-repeat;
  background-size: cover;
  height: 710px;

  @media (max-width: 768px) {
    height: 628px;
  }

  @media (max-width: 425px) {
    background-position: right;
    height: 480px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__title {
    @extend %h1;
  }
}
