@import 'reset';
@import 'utils';
@import 'fonts';
@import 'header';

::-webkit-scrollbar {
  width: 4px;
  background-color: $main-black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $main-white;
  border-radius: 5px;
}

body {
  font-family: Poppins, sans-serif;
  background: $main-black;
  user-select: none;
  &.locked {
    overflow: hidden;
  }
}

section {
  padding: 120px 0 0;

  @media (max-width: 768px) {
    padding: 60px 0 0;
  }
}

.container {
  @extend %container;
}

// preview styles

.preview {
  background: url('./../images/photos/preview.jpg') center no-repeat;
  background-size: cover;
  height: 710px;

  @media (max-width: 768px) {
    height: 628px;
  }

  @media (max-width: 425px) {
    background-position: right;
    height: 480px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__title {
    @extend %h1;
  }
}

// about section styles

.about {
  &__container {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__title {
    @extend %h2;

    flex: 0 0 auto;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: $main-white;
    max-width: 500px;
    margin: 0 0 0 120px;

    @media (max-width: 768px) {
      margin: 32px 0 0;
    }
  }
}
