.container {
  max-width: 1060px;
  margin: 0px auto;
  padding: 0 20px;
}

%transition {
  transition: 0.3s;
}

%h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
}

%h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
}

%h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

%par {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $main-white;
  border-radius: 40px;
  height: 56px;

  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  color: $main-black;
}
